.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  font-family: var(--font-mono);
  border-top: 4px dashed var(--color-two);
}

.header {
  display: flex;
  width: 285px;
  justify-content: space-between;
  padding: 10px;
}

.header button {
  background-color: var(--color-two);
  border: 2px solid var(--color-two);
  font-size: 1rem;
  padding: 10px;
  border-radius: 20px;
  font-family: var(--font-mono);
  cursor: pointer;
  transition: 0.5s;
  color: #ffffff;
}

.header button:active {
  background-color: var(--color-one);
  border: 2px dashed var(--color-two);
  color: #ffffff;
}

@media (hover: hover) {
  .header button:hover {
    background-color: var(--color-one);
    border: 2px dashed var(--color-two);
    color: #ffffff;
  }
}